body {
  margin: 0;
  padding: 0;
  background: var(--tg-theme-secondary-bg-color);
}

html, body {
  overflow: hidden; /* Важно! */
  height: 100%;
  overscroll-behavior-y: none;
}

#root {
  height: 100%;
  overflow-y: auto; /* Скролл внутри React контейнера */
  -webkit-overflow-scrolling: touch;
}
