body {
  margin: 0;
  padding: 0;
  background: var(--tg-theme-secondary-bg-color);
}

body {
  margin: 0;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
}

#root {
  min-height: 100dvh;
}
